<div style="display: flex; justify-content: space-between;">

  <h2 mat-dialog-title>Add a Photo</h2>
  <button mat-icon-button mat-dialog-close color="warn">
    <mat-icon>close</mat-icon>
  </button>

</div>
<div mat-dialog-content>
  <form (ngSubmit)="uploadFile()" #myForm="ngForm" enctype="multipart/form-data">
    <input type="file" (change)="onFileSelected($event)" name="image" accept="image/png, image/gif, image/jpeg"
           [(ngModel)]="selectedFile">
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="uploadFile()" [disabled]="!myForm.valid">Submit</button>
</div>

