.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 80vh;

}

mat-form-field {
  margin-right: 6px;
}

.logo-header {
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}

img {
  height: 8vh;
  margin: auto;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-error {
  margin-bottom: 1vh;
}

nav {
  padding: 2vh;
}
